/FlySoftDemo/nbproject/private/
/FlySoftDemo/build/
/DelMe/nbproject/private/
/FlySoftDemo/dist/
/CsvParser/nbproject/private/
/CsvParser/build/
FileCrawler/FileCrawler/downloaded/
FileCrawler/FileCrawler/build/
FileCrawler/FileCrawler/nbproject/private/private.xml
FlySoftDemo/downloaded/*_T_ONTIME.csv
FlySoftDemo/downloaded/*.zip
