<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.1" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="FlySoftDemoPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>hm.edu.swe2.flysoft.entity.Monthlystat</class>
    <class>hm.edu.swe2.flysoft.entity.State</class>
    <class>hm.edu.swe2.flysoft.entity.Flight</class>
    <class>hm.edu.swe2.flysoft.entity.Flightendpoint</class>
    <class>hm.edu.swe2.flysoft.entity.Airport</class>
    <class>hm.edu.swe2.flysoft.entity.Airline</class>
    <class>hm.edu.swe2.flysoft.entity.Storedsettings</class>
    <class>hm.edu.swe2.flysoft.entity.City</class>
    <class>hm.edu.swe2.flysoft.entity.Datasourcetype</class>
    <class>hm.edu.swe2.flysoft.entity.Dataupdatemeta</class>
    <class>hm.edu.swe2.flysoft.entity.Yaxis</class>
    <class>hm.edu.swe2.flysoft.entity.Xaxis</class>
<exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://10.28.2.168:3306/fly_analytics?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="ExtDev4"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="4KzeDm6Q"/>
    </properties>
  </persistence-unit>
</persistence>
